body {
    background-color: #191919;
    color: white;
    font-size: 1rem;
    font-family: PingFang TC, -apple-system, Noto Sans TC, Helvetica Neue, Microsoft JhengHei, sans-serif;
}

.shine {
    animation: shine .5s linear;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, .1);
    background-color: rgba(255, 255, 255, .1);
    margin-top: .5rem;

    .shine {
        &:first-child {
            margin-left: 1rem
        }
    }

    >.shine {

        margin-top: 0;
    }
}

@keyframes shine {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
        background-color: yellow;
    }

    100% {
        opacity: 1;
    }
}
